.about {
    padding-top: 3.125rem;
    h1, h2 {
    	text-align: center;
    	margin: 0 0 2rem;
    	font-size: 2.375rem;
    	line-height: 2.875rem;
    	@media screen and (min-width: 1024px) {
    	    font-size: 4.5rem;
    	    line-height: 5.25rem;    		
    	}
    }
    p.lead {
    	text-align: center;
    	font-size: 1.5rem;
    	line-height: 2.125rem;
    	margin-top: 0;
    	margin-bottom: 3.125rem;
    	@media screen and (min-width: 764px) {
    	    font-size: 2rem;
    	    line-height: 3rem;
        }
    }
    h3 {
    	margin-top: 0rem;
    	margin-bottom: 0rem;
    	font-size: 2rem;
    	line-height: 2rem;
    	@media screen and (min-width: 764px) {
    	    font-size: 2.625rem;
    	    line-height: 2.625rem;
        }    	
    }
    dl {
    	margin-bottom: 4.375rem;
    }
    h4, dt {
    	margin-top: 1.125rem;
    	margin-bottom: 1.125rem;
    	font-size: 1.5rem;
    	font-weight: bold;
    	line-height: 2.5rem;
    	@media screen and (min-width: 764px) {
    		margin-top: 1.875rem;
    	    margin-bottom: 1.875rem;
    	    font-size: 1.5rem;
    	    line-height: 2.5rem;
        }    	
    }
    p, dd {
    	font-size: 1.125rem;
    	line-height: 2rem;
    	margin-left: 0;
    }
    p {    	
    	margin-top: 1.875rem;
    }
    ul {
    	list-style: none;
    	margin-bottom: .5rem;
    	margin-left: 0;
    	padding-left: 0;
    }
    ul li:before {
    	content: "— ";

    }
    ul li {
    	padding-bottom: .5rem;
    }
    dd {    	
    	margin-bottom: 3.125rem;
    }
    dd p {
    	margin-top: 0;
    }
    .team {
    	margin-top: 2.5rem;
    	margin-bottom: 2.75rem;
    	text-align: center;
    	.person {
    		margin-bottom: 1rem;
    	}
    }
    blockquote {
    	text-align: center;
    	padding: 2.125rem;    	
    	font-family: "ALS Fuchsia";
    	margin: 0 0 2.5rem;
    	border-top: 1px solid #7d7d7d;
    	border-bottom: 1px solid #7d7d7d;
    	font-size: 2.25rem;
    	line-height: 3.375rem;
    }
}
