a {
    color: #4282bf;
    transition: 1s ease
}
a:hover, a:focus, a:visited {
    color: #e41909;
}
p, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
button {
    transition: 0.5s ease;  
}
button.button {
    padding: 1rem 2rem;
    border-radius: .625rem;
    transition: 0.5s ease;    
}
button.action {
    background: linear-gradient(to top, #623a64, #8d6190);
    color: #fff;
    line-height: 2.375rem;
    font-size: 2rem;
    padding: 1rem 2.5rem;
    border-radius: .75rem;
    box-shadow: 0rem 1.5rem 2.5rem 0rem rgba(56, 37, 57, 0.3), 0rem 0.5rem 0.75rem 0rem rgba(0, 0, 0, 0.3);
}
button.action:hover {
	background: linear-gradient(to top, #623a64, #865888);
    box-shadow: 0rem 0.5rem 1.5rem 0rem rgba(56, 37, 57, 0.2), 0rem 0.5rem 0.75rem 0rem rgba(0, 0, 0, 0.2);
}
button.action:active {
    background: linear-gradient(to top, #a372a5, #a372a5);
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(56, 37, 57, 0.2), 0rem 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.2);
}
button.clean {
    border: .25rem solid #95c1e5;
    color: #4283c0;
    border-radius: .5rem;
    font-size: 1rem;
    padding: .75rem 4rem;

    font-weight: bold;
}
button.clean:hover {
    color: #e51907;
    border-color: #e51907;
}
button.clean:active {
    color: #fff;
    background-color: #e51907;
    border-color: #e51907;
}
.curr {
	text-decoration: line-through;
}
.bookmark::after {
    display: block;
    content: " ";
    position: absolute;
    background-color: transparent;
    z-index: -1;
    background-image: url('../img/icons.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;            
}
body {
    background-image: url('../img/footer-bg.png');
    background-repeat: no-repeat;
    background-position: center 100%;
    padding-bottom: 15rem;
    position: relative;
    height: 100%;
}
a.gohome {
    display: block;
    height: 12rem;
    width: 20rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -10rem;
    outline: none;
}
