.logo {
	padding-top: @40;
	// padding-bottom: @40;
}
.search_form {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	box-sizing: border-box;	
	position: relative;
	input {
		width: 87%;
		height: @30;
		height: @30;
		line-height: @30;
		border: 1px solid #b2b2b2;
		border-radius: @30/2;
		box-shadow: 1px 1px 1px #bfbfbf inset;
		padding: 0 1rem 0 2rem;
		font-size: .875rem;
		
	}
	button {
		width: 10%;
		height: 1.875rem;
		background-color: #fff;
		background-image: url('../img/icons.svg');
		background-position: 30% 0%;
		background-size: auto 100%;
		background-repeat: no-repeat;
	}
	@media screen and (max-width: 40rem) {
	    padding-top: @40;
	}
	&:after {
		display: block;
		content: "";
		height: 1.4rem;
		width: 1.875rem;
		position: absolute;
		left: 0;
		top: 0.2875rem;
		background-color: transparent;
		background-image: url('../img/icons.svg');
		background-position: 100% 0%;
		background-size: auto 100%;
		background-repeat: no-repeat;
	}
}
.header {
	text-align: center;
	h1 {
		font-size: 2.375rem;
		line-height: 2.875rem;
		font-weight: bold;
		margin: @40 0;
	}
	@media screen and (min-width: 40rem) {
		h1 {
			font-size: 3.5rem;
			line-height: 4rem;
		}
	}
	@media screen and (min-width: 64rem) {
		h1 {
			font-size: 4.5rem;
			line-height: 5.25rem;
		}
	}	
}
