.order {
	padding-bottom: 8rem;
	fieldset {
		border: none;
		padding: 0;
		margin-bottom: 2rem;
		input[type='text'], 
		input[type='tel'],
		input[type='email'],
		textarea,
		label,
		.radio {
			width: 100%;
			line-height: 2rem;
			label {
				width: auto
			}
		}
		input[type='radio'] {
			margin-right: .5rem;
		}
		label {
			text-transform: uppercase;
		}

	}
	label, .radio {
		font-size: 1.25rem;
		line-height: 2rem;
	}
	input[type='text'],
	input[type='tel'],
	input[type='email'], 
	textarea {
		border: .25rem solid #ccc;
		padding: 0 .5rem;
	}
	.disabled {
		color: #ddd;
		textarea {
			border-color: #ddd
		}
	}
	input, .redio {
		margin-bottom: .5rem;
	}
	.comment {
		height: 12.25rem;
	}
    .takeaway {
    	text-align: center;
        h2 {
    	    font-size: 3rem;
    	    margin-top: 0;
    	    padding-top: 2.75rem;
        }    	
    }
    .add {
    	padding-top: 2rem;
    }

}
.confirm {
	text-align: center;
	padding-bottom: 6rem;
	.callout {
		padding: 2rem;
		border: .25rem solid #98a03c;
		margin-bottom: 1rem;
	    p.lead, h3 {
		    font-size: 2rem;
		    line-height: 3rem;		
		    font-weight: bold;
		    margin-top: 0;
		    margin-bottom: 0;
	    }		
	}
	p {
		font-size: 1.5rem;
		line-height: 2.5rem;
	}
	h3 {
		    font-size: 2rem;
		    line-height: 3rem;		
		    font-weight: bold;
		    margin-top: 0;
		    margin-bottom: 0;		
	}

}