.promo {
	text-align: center;
    .image_area {
	    height: 10rem;
	    padding: 1.25rem 0;
        position: relative;
        .eye {
            position: absolute;
            width: 12rem;
            height: 12rem;
            left: 50%;
            top: 50%;
            margin-left: -6rem;
            background-color: #fff;
            border: .25rem solid #000;
            border-radius: 50%;
            z-index: 1;
            .eye_pupil {
                position: absolute;
                width: 2rem;
                height: 2rem;
                left: 50%;
                top: 50%;
                margin-left: -1rem;
                margin-top: -1rem;
                background-color: #000;
                border-radius: 50%;
                z-index: 1;
            }
        }
	    img, {
		    height: 7.5rem;
	    }
    }
    a {
    	color: #fe5552;
    	text-decoration: none;
    }  
    .promo_cover {
	    padding: 0 1.25rem;
        .image_area {
            height: auto;
	        padding: 0 0 3.125rem;
            position: relative;
	        // background-image: url('../img/ribbon.svg');
	        // background-repeat: no-repeat;
	        // background-position: 10% 98%;        
    	    img {
    	        width: 100%;
    	        height: auto;
    	        box-shadow: 5.657px 5.657px 16px 0px rgba(0, 0, 0, 0.6),14.142px 14.142px 40px 0px rgba(0, 0, 0, 0.4);
            }
        }
        .bookmark::after {
            bottom: .5rem;
            left: 2rem;
            height: 4rem;
            width: 2rem;
            background-position: 0% 0%;      
        }    
        figcaption {
    	    font-size: 1.5rem;
    	    line-height: 2.125rem;
    	    font-weight: bold;
    	    margin-bottom: 3.75rem;
            position: relative;

        }
    }
    .promo_feature figcaption {
	    font-size: 1.375rem;
	    line-height: 2rem;
	    margin: 1.5rem 0rem 3.75rem;
        padding: 0 1rem;
        position: relative;
	    // @media screen and (min-width: 1024px) {
	        // margin: 1.5rem 2.5rem 3.75rem;
	    //     font-size: 1.375rem;
	    //     line-height: 2rem;	    
     //    }
    }   
    .blqt::before, .blqt::after {
        display: block;
        content: " ";
        height: 1.25rem;
        width: 1.25rem;
        background-color: #000;
        z-index: 1;
        position: absolute;   
        background-color: transparent;
        background-image: url('../img/icons.svg');
        background-size: auto 100%;
        background-repeat: no-repeat;          
    }
    .blqt::before {
        left: 0;
        top: .375rem;     
        background-position: 43% 0%;   
    } 
    .blqt::after {
        right: 0;
        bottom: .375rem; 
        background-position: 54% 0%;          
    }       
}
.action_note p {
	color: #dcdcdc;
	font-size: .875rem;
	line-height: 1.25rem;
	margin: 1.875rem 0.625rem;

}