.products {
	text-align: center;
	h1, h2 {
		font-size: 2.375rem;
		line-height: 2.875rem;
		margin-bottom: 2rem;
		@media screen and (min-width: 460px) {
		    font-size: 4.5rem;
		    line-height: 4.5rem;			
		}		
	}
	p.lead {
		font-size: 1.5rem;
		line-height: 2rem;		
		@media screen and (min-width: 764px) {
		    font-size: 2rem;
		    line-height: 3rem;
		}		
		margin-top: 0;
		margin-bottom: 2rem;
	}
	.product_cover {
		margin: 1rem;
        .image_area {
            height: auto;
	        padding: 0 0 2rem;
	        position: relative;     
    	    img {
    	        width: 100%;
    	        height: auto;
    	        box-shadow: .3rem .3rem .5rem 0rem rgba(0, 0, 0, 0.2), .3rem .3rem 1rem 0px rgba(0, 0, 0, 0.2);
            }
            figcaption {
            	font-size: 1.125rem;
            	line-height: 1.625rem;
            }
        }
        .bookmark:after {
            bottom: .25rem;
            left: 1.5rem;
            height: 2.5rem;
            width: 1.5rem;
            background-position: 0% 0%;  
        }     
        .gray::after {
            background-position: 21% 0%;      
        }    
        .green::after {
            background-position: 10% 0%;      
        }            
        a {
        	color: #4282bf;
        	text-decoration: none;
        	border-bottom: 1px solid #d0ddec;
        }		
	}
	button {
		margin: 2rem 0 6rem;
	}
}
