@font-face {
	font-family: 'ALS Fuchsia';
	src: url('fonts/ALSFuchsia.eot');
	src: url('fonts/ALSFuchsia.eot?#iefix') format('embedded-opentype'),
		url('fonts/ALSFuchsia.woff') format('woff'),
		url('fonts/ALSFuchsia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
